<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VentoryIN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VentoryIN.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
        }

        .content {
            flex: 1;
        }

        a {
            text-decoration: none;
        }

        footer {
            background-color: #262626;
            font-family: 'Quicksand', sans-serif;
        }

        .footer {
            padding: 10px 0;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow" style="background-color: #262626;">
            <div class="container-fluid px-5">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo2.png" class="" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!--BOTON DE CERRAR SESION-->
            <div class="collapse navbar-collapse justify-content-end">
                <a class="navbar-brand fs-6 text-white" asp-area="" asp-controller="Inicio" asp-action="Index">Cerrar Sesión</a>
            </div>
        </nav>
    </header>

    <div class="container-fluid d-flex" style="flex: 1;">
        <div class="col-2 py-5 px-3 d-flex" style="background-color: #313131; flex-direction: column; margin: -30px 0px 0px -15px;">
            <a href="@Url.Action("Index", "Home")" class="container d-flex align-items-center align-self-center py-2">
                <img src="~/images/homeIcon2.png" alt="Inicio" />
                <p class="text-white ps-3"> Inicio</p>
            </a>
            <a href="@Url.Action("Productos", "Home")" class="container d-flex align-items-center align-self-center py-2">
                <img src="~/images/productIcon2.png" alt="Productos" />
                <p class="text-white ps-3"> Categorías</p>
            </a>
            <a href="@Url.Action("EntradasPorMes", "Home")" class="container d-flex align-items-center align-self-center py-2">
                <img src="~/images/entradasIcon2.png" alt="Entradas" />
                <p class="text-white ps-3"> Entradas</p>
            </a>
            <a href="@Url.Action("SalidasPorMes", "Home")" class="container d-flex align-items-center align-self-center py-2">
                <img src="~/images/salidasIcon2.png" alt="Salidas" />
                <p class="text-white ps-3"> Salidas</p>
            </a>
            <a href="@Url.Action("Proveedores", "Home")" class="container d-flex align-items-center align-self-center py-2">
                <img src="~/images/proveedorIcon2.png" alt="Proveedores" />
                <p class="text-white ps-3"> Proveedores</p>
            </a>
            <a href="@Url.Action("Perfil", "Home")" class="container d-flex align-items-center align-self-center py-2">
                <img src="~/images/profileIcon2.png" alt="Perfil" />
                <p class="text-white ps-3"> Perfil</p>
            </a>
        </div>

        <div class="container-fluid content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="footer text-white">
        <div class="container-fluid px-5">
            &copy; 2024 - VentoryIN - Created by Daniela Saavedra & Diego Fuentes. All rights reserved.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
